<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/toolbox_style.css">
    <title>Educational Robot</title>
</head>
<body>
    {{{body}}}
    <!--<script src="../../node_modules/blockly/blockly.min.js"></script>
    <script src="../../assets/js/buttonsBehaviour.js"></script>
    <script src="../assets/js/blocks.js"></script>
    <script src="../../assets/js/generator.js"></script>
    <script src="../../node_modules/file-saver/src/FileSaver.js"></script>
    <script>
        var ip = "0.0.0.0";
        document.getElementById('curIP').innerHTML = ip;
        Blockly.Themes.MyTheme = Blockly.Theme.defineTheme('MyTheme', {
            'base': Blockly.Themes.Classic,
            'componentStyles': {
                'workspaceBackgroundColour': '#e6e6e6',
                'toolboxBackgroundColour': '#ffffff',
                'toolboxForegroundColour': '#000',
                'flyoutBackgroundColour': '#252526',
                'flyoutForegroundColour': '#ccc',
                'flyoutOpacity': 1,
                'scrollbarColour': '#ff0000',
                'insertionMarkerColour': '#fff',
                'insertionMarkerOpacity': 0.3,
                'scrollbarOpacity': 0.4,
                'cursorColour': '#d0d0d0',
                'blackBackground': '#333'
            }
        });
        var workspace = Blockly.inject('blocklyDiv', {
            toolbox: document.getElementById('toolbox'),
            move: {
                scrollbars: {
                    vertical: true,
                    horizontal: false
                }
            },
            trashcan: true,
            theme: Blockly.Themes.MyTheme,
            renderer: 'zelos'
        });
        Blockly.Xml.domToWorkspace(document.getElementById('main'), workspace); // by default main block is displayed
    </script>-->
    <!--<script src="node_modules/blockly/blockly.min.js"></script>-->
    <script src="assets/js/buttonsBehaviour.js"></script>
    <!--<script src="assets/js/blocks.js"></script>
    <script src="assets/js/generator.js"></script>
    <script src="node_modules/file-saver/src/FileSaver.js"></script>
    <script>
        var ip = "0.0.0.0";
        document.getElementById('curIP').innerHTML = ip;
        Blockly.Themes.MyTheme = Blockly.Theme.defineTheme('MyTheme', {
            'base': Blockly.Themes.Classic,
            'componentStyles': {
                'workspaceBackgroundColour': '#e6e6e6',
                'toolboxBackgroundColour': '#ffffff',
                'toolboxForegroundColour': '#000',
                'flyoutBackgroundColour': '#252526',
                'flyoutForegroundColour': '#ccc',
                'flyoutOpacity': 1,
                'scrollbarColour': '#ff0000',
                'insertionMarkerColour': '#fff',
                'insertionMarkerOpacity': 0.3,
                'scrollbarOpacity': 0.4,
                'cursorColour': '#d0d0d0',
                'blackBackground': '#333'
            }
        });
        var workspace = Blockly.inject('blocklyDiv', {
            toolbox: document.getElementById('toolbox'),
            move: {
                scrollbars: {
                    vertical: true,
                    horizontal: false
                }
            },
            trashcan: true,
            theme: Blockly.Themes.MyTheme,
            renderer: 'zelos'
        });
        Blockly.Xml.domToWorkspace(document.getElementById('main'), workspace); // by default main block is displayed
    </script>-->
</body>
</html>