<!DOCTYPE html>
<html lang="en">

<head>
    <!---------- META DATA ---------->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/toolbox_style.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node_modules/highlight.js/styles/default.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js@8.3.1/dist/css/shepherd.css"/>
    <link rel="icon" href="/assets/img/fav.png">
    <title>BlocklyBot</title>
</head>

<body>
    <div class="header">
        <h1 style="text-align: center;"><%=title%></h1>
        <!--<p>State: <%=state%></p>-->
    </div>
    <div class="main">
        <!---------- NAV MENU UPPER + MOBILE ---------->
        <div class="mobileNavBar">
            <a href="#" class="navLogo">Edu. Bot</a>
            <ul class="mobileNavMenu">
                <li class="navItem">
                    <a href="#" class="navLink tablinks" onclick="selectTab(event,'Blockly')" id="defaultOpen">Blockly</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink tablinks" onclick="selectTab(event,'Arduino'); showCodeArd();">Arduino Code</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink tablinks" onclick="selectTab(event,'Commands'); showCode();"><i class="fa fa-bars"></i>  Display Commands</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink tablinks" onclick="runCode()"><i class="fa fa-play"></i>  Run Code</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink tablinks" onclick="saveIP();">Save IP</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink tablinks" onclick="saveCode()"><i class="fa fa-save"></i>  Save Code</a>
                </li>
                <li class="navItem">
                    <input type="file" id="files" name="file" />
                </li>
                <li class="navItem">
                    <a href="#" class="navLink tablinks" onclick="loadCode()">Load Code</a>
                </li>
                <li class="navItem">
                    <input type="text" placeholder="IP address" id="ipAdd">
                </li>
                <li class="navItem">
                    <p><span id="curIP">0.0.0.0</span></p>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
        <div class="tab">
            <button class="tablinks blockBtn" onclick="selectTab(event,'Blockly')" id="defaultOpen">Blockly</button>
            <button class="tablinks arduinoBtn" onclick="selectTab(event,'Arduino'); showCodeArd(); showCodeArd();">Arduino Code</button>
            <button class="tablinks showBtn" onclick="selectTab(event,'Commands'); showCode(); showCode();"><i class="fa fa-bars"></i>  Display Commands</button>
            <button class="tablinks animBtn" onclick="selectTab(event,'Animate'); animateNow()"><i class="fa fa-play"></i>  Simulate</button>
            <button class="runBtn" onclick="runCode()"><i class="fa fa-play"></i>  Run Code</button>
            <p><span id="curIP">0.0.0.0</span></p>
        </div>
        <div id="Blockly" class="tabcontent">
            <!---------- BLOCKLY WORKSPACE ---------->
            <div class="blocklyClass" id="blocklyDiv"></div>
            <xml class="toolboxClass" id="toolbox" style="display: none;">
                <category name="START" colour="#00d080" toolboxitemid="start">
                    <block type="input" disabled='disabled'></block>
                </category>
                <category name="MOVEMENT" colour="#07b7a6" toolboxitemid="movement">
                    <block type="forward"></block>
                    <block type="backward"></block>
                    <block type="stop"></block>
                    <block type="direction"></block>
                    <block type="speed"></block>
                </category>
                <category name="LOOPS" colour="#fc832e" toolboxitemid="loops">
                    <block type="repeat"></block>
                    <block type="for"></block>
                    <block type="while"></block>
                </category>
                <category name="CONDITIONS" colour="#edc620" toolboxitemid="conditions">
                    <block type="ifelse"></block>
                    <block type="if"></block>
                </category>
                <category name="MATH/LOGIC" colour="#8831c2" toolboxitemid="math">
                    <block type="math_number"></block>
                    <block type="logic_boolean"></block>
                </category>
                <category name="VARIABLES" colour="#6aa2b7" toolboxitemid="variables">
                    <button id="vari" text="create a variable" callbackKey="CREATE_VARIABLE"></button>
                    <label text="--Variables--"></label>
                    <block type="variables_get"></block>
                    <label text="--Variable Functions--"></label>
                    <block type="variables_set"></block>
                </category>
                <category name="FUNCTIONS" colour="#412f9d" toolboxitemid="functions">
                    <block type="procedures_defreturn"></block>
                    <block type="procedures_defnoreturn"></block>
                </category>
                <category name="MISC" colour="#fe96aa" toolboxitemid="misc">
                    <block type="delay"></block>
                </category>
            </xml>
            <!-- Default block -->
            <xml id="main" style="display: none">
                <block type="input"></block>
            </xml>            
        </div>
        <!---------- NAV MENU BOTTOM ---------->
        <div id="Arduino" class="tabcontent">
            <div class="arduinoCodeDiv">
                <pre><code>void main(){</code></pre>
                    <pre><code class="arduinoCodeMain"></code></pre>
                <pre><code>}</code></pre>
                <pre><code>void loop(){</code></pre>
                    <pre><code class="hljs language-csharp" id="arduinoCodeLoop"></code></pre>
                <pre><code>}</code></pre> 
            </div>
        </div>
        <div id="Commands" class="tabcontent">
            <div class="cmds arduinoCodeDiv" id="cmds"></div><br>
        </div>
        <div id="Animate" class="tabcontent">
            <div class="animContainer">
                <img src="/assets/img/fav.png" alt="" class="anim">
            </div>
        </div>
        <div class="tab">
            <input type="text" placeholder="IP address" id="ipAdd">
            <button type="button" onclick="saveIP();">Save IP</button>
            <button onclick="saveCode()"><i class="fa fa-save"></i>  Save Code</button>
            <input type="file" id="files" name="file" />
            <button onclick="loadCode()">Load Code</button>
        </div>
    </div>
    <!---------- LOADING SCRIPTS ---------->
    <script src="https://cdn.jsdelivr.net/npm/shepherd.js@8.3.1/dist/js/shepherd.min.js"></script>
    <script src="node_modules/blockly/blockly.min.js"></script>
    <script src="assets/js/buttonsBehaviour.js"></script>
    <script src="assets/js/blocks.js"></script>
    <script src="assets/js/generator.js"></script>
    <script src="assets/js/blocklyTour.js"></script>
    <script src="assets/js/blockly2arduino.js"></script>
    <script src="assets/js/selectTab.js"></script>
    <script src="assets/js/menu.js"></script>
    <script src="node_modules/file-saver/src/FileSaver.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="assets/js/blocklyAnim.js"></script>
    <script>hljs.highlightAll();</script>
    <script>
        var ip = "0.0.0.0";
        document.getElementById('curIP').innerHTML = ip;
        Blockly.Themes.MyTheme = Blockly.Theme.defineTheme('MyTheme', {
            'base': Blockly.Themes.Classic,
            'componentStyles': {
                'workspaceBackgroundColour': '#e6e6e6',
                'toolboxBackgroundColour': '#ffffff',
                'toolboxForegroundColour': '#000',
                'flyoutBackgroundColour': '#252526',
                'flyoutForegroundColour': '#ccc',
                'flyoutOpacity': 1,
                'scrollbarColour': '#ff0000',
                'insertionMarkerColour': '#fff',
                'insertionMarkerOpacity': 0.3,
                'scrollbarOpacity': 0.4,
                'cursorColour': '#d0d0d0',
                'blackBackground': '#333'
            }
        });
        var workspace = Blockly.inject('blocklyDiv', {
            toolbox: document.getElementById('toolbox'),
            move: {
                scrollbars: {
                    vertical: true,
                    horizontal: false
                }
            },
            trashcan: true,
            theme: Blockly.Themes.MyTheme,
            renderer: 'zelos'
        });
        Blockly.Xml.domToWorkspace(document.getElementById('main'), workspace); // by default main block is displayed

        // TODO FIX Create variable button
        workspace.registerButtonCallback('CREATE_VARIABLE', function(button) {
            Blockly.Variables.createVariableButtonHandler(button.getTargetWorkspace(), null, 'panda');
        });

        // Clear previously stored data
        localStorage.clear();
    </script>
</body>

</html>