@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
body {
    background-color: whitesmoke;
    font-family: prompt, sans-serif;
    margin: 3rem 3rem 0 3rem;
}

.main {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocklyTreeLabel {
    font: 18px sans-serif;
}

.blocklyTreeRow {
    margin-top: 10px;
}

button {
    background-color: #008CBA;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #008bbaa2;
}