@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    background-color: whitesmoke;
    /*font-family: prompt, sans-serif;*/
    font-family: Butterfly, cursive;
    /*margin: 3rem 3rem 0 3rem;*/
}

.main {
    min-height: 50vh;
    /*display: flex;
    align-items: center;
    justify-content: space-between;*/
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
}

button,#files{
    background-color: #008CBA;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
input {
    padding: 12px 29px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #008bbaa2;
}


/*.cmds {
    background-color: #008CBA;
    height: 200px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}*/

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    color: black;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #008bbaa2;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #008bbaa2;
}

/* Style the tab content */
.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
}

/*.arduinoCode{
    font-family: Butterfly, cursive;
}*/
.arduinoCodeDiv{
    height: 65vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #ccc;
    
}