.blocklyTreeLabel {
  /*font-family: 'Varela Round', sans-serif;*/
  font-family: "Butterfly", cursive;
  font-weight: 500;
  font-size: 15px;
}

.zelos-renderer.MyTheme-theme .blocklyText,
.zelos-renderer.MyTheme-theme .blocklyFlyoutLabelText {
  /*font-family: 'Varela Round', sans-serif;*/
  font-family: "Butterfly", cursive;
  /*font-size: 17px;*/
  font-size: 14px;
}

.blocklyTreeRow {
  /*height: 40px;*/
  height: 20px;
  margin-bottom: 0px;
  padding: 10px;
  border-bottom: solid 2px;
  border-color: #2525266c;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  color: #00d080;
}

#movement {
  color: #07b7a6;
}

#loops {
  color: #fc832e;
}

#conditions {
  color: #5b80a5;
}

#math {
  color: #8831c2;
}

#variables {
  color: #a55b80;
}

#functions {
  color: #995ba5;
}

#misc {
  color: #fe96aa;
}

@media screen and (min-width: 1024px) {
  .blocklyToolboxDiv {
    width: 15%;
  }
  .blocklyTreeRow {
    height: 60px;
  }
  .zelos-renderer.MyTheme-theme .blocklyText,
  .zelos-renderer.MyTheme-theme .blocklyFlyoutLabelText {
    font-size: 17px;
  }
}

@media screen and (min-width: 1920px) {
  .blocklyToolboxDiv {
    width: 15%;
  }
  .blocklyTreeRow {
    height: 80px;
  }
  .zelos-renderer.MyTheme-theme .blocklyText,
  .zelos-renderer.MyTheme-theme .blocklyFlyoutLabelText {
    font-size: 17px;
    font-weight: 600;
  }
}
